@import url('https://fonts.googleapis.com/css?family=Catamaran:300|Dosis:200,300,700');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: -moz-radial-gradient(center, ellipse cover, #20404b 0%, #0b2035 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #20404b 0%,#0b2035 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #20404b 0%,#0b2035 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

h1 {
    font-family: 'Dosis';
    font-size: 3em;
    font-weight: 200;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Catamaran';
    font-weight: 300;
}

h3 {
    font-family: 'Dosis';
    font-size: 3.2em;
    font-weight: 700;
}

p {
    font-family: 'Catamaran';
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 10px;
}

.logoContainer{
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    z-index: 50;
}

.infoContainer {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 50;
}

.infoContainer h2:hover {
    cursor: pointer;
    text-decoration: underline;
}

.map {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 1s;
}

.map .universe > .planet {
    pointer-events: auto;
}

.stars {
    position: fixed;
    top: -100px;
    left: -100px;
    width: 120%;
    height: 120%;
    z-index: 0;
}

.star:hover {
    cursor: pointer;
}

#googleMap {
    display: none;
}

.destinoInfo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
    padding: 30px;
    width: 30%;
    margin-left: 35%;
    background-color: white;
    z-index: 150;
}

.aboutClose {
    font-size: 2em;
    position: absolute;
    right: 20px;
    top: 10px;
}

.aboutClose:hover {
    cursor: pointer;
    font-weight: 700;
}

.hoverDiv {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    z-index: 100;
}

.planetInfo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
    padding: 30px;
    width: 30%;
    margin-left: 35%;
    background-color: white;
    z-index: 150;
}

.planetInfoClose {
    font-size: 2em;
    position: absolute;
    right: 20px;
    top: 10px;
}

.planetInfoClose:hover {
    cursor: pointer;
    font-weight: 700;
}

.planet {
    animation-name: fadeIn;
    animation-duration: 1s;
}

.planet:hover {
    cursor: pointer;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1.0;}
    to {opacity: 0;}
}